Numpy is suitable for dealing with homogeneously typed numerical array data, Pandas for tabular or heterogeneous data.

In [1]:
import numpy as np
import pandas as pd

# Series (values + index)

In [2]:
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
obj.array # Get data

<NumpyExtensionArray>
[np.int64(4), np.int64(7), np.int64(-5), np.int64(3)]
Length: 4, dtype: int64

In [4]:
obj.index # Get index

RangeIndex(start=0, stop=4, step=1)

Usually, index consists of the integers from 0 through N-1 by default

In [5]:
obj2 = pd.Series([4,7,-5,3],index = ['d','b','a','c']) # Change index 
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [6]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

You can use labels in the index when selecting **single values** or **a set of values**

In [7]:
obj2["a"]

np.int64(-5)

In [8]:
obj2["d"]=6
obj2[["c","a","d"]]

c    3
a   -5
d    6
dtype: int64

In [9]:
obj2[obj2>0] # Boolean array

d    6
b    7
c    3
dtype: int64

In [10]:
obj2*2 # scalar function

d    12
b    14
a   -10
c     6
dtype: int64

In [11]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [13]:
"b" in obj2 # As dictionary "mapping"

True

In [14]:
"e" in obj2

False

In [16]:
sdata = {"Ohio": 35000,"Texas": 71000,"Oregon":16000,"Utab":5000}
obj3 = pd.Series(sdata) # dictionary to Series
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utab       5000
dtype: int64

In [17]:
obj3.to_dict() # Series to dictionary

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utab': 5000}

In [18]:
states = ("California", "Ohio", "Oregon", "Texas")
obj4 = pd.Series(sdata,index = states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [19]:
pd.isna(obj4) # Detect missing data

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [20]:
pd.notna(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [21]:
obj4.isna()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

Series automatically **aligns by index**
Key: 'obj3+obj4' gives NaN for Utah
Reason: Utah is only in obj3, obj4 has no value(NaN)

In [22]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utab       5000
dtype: int64

In [23]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [24]:
obj3+obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utab               NaN
dtype: float64

In [25]:
obj4.name = "population"
obj4.index.name = "state"
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

Series's index can be altered in place by assignment

In [26]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [29]:
obj.index = ["Bob","Steven","Jeff","Ryan"]

In [30]:
obj

Bob       4
Steven    7
Jeff     -5
Ryan      3
dtype: int64

# DataFrame

In [32]:
data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        "year": [2000, 2001, 2002, 2001, 2002, 2003],
        "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [33]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [34]:
frame.head() # The first five rows

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [35]:
frame.tail() # The last five rows

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [36]:
pd.DataFrame(data,columns=["year","state","pop"])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2