Numpy is suitable for dealing with homogeneously typed numerical array data, Pandas for tabular or heterogeneous data.

In [ ]:
import numpy as np
import pandas as pd

# Series (values + index)

In [ ]:
obj = pd.Series([4, 7, -5, 3])
obj

In [ ]:
obj.array  # Get data

In [ ]:
obj.index  # Get index

Usually, index consists of the integers from 0 through N-1 by default

In [ ]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])  # Change index 
obj2

In [ ]:
obj2.index

You can use labels in the index when selecting **single values** or **a set of values**

In [ ]:
obj2["a"]

In [ ]:
obj2["d"] = 6
obj2[["c", "a", "d"]]

In [ ]:
obj2[obj2 > 0]  # Boolean array

In [ ]:
obj2 * 2  # scalar function

In [ ]:
np.exp(obj2)

In [ ]:
"b" in obj2  # As dictionary "mapping"

In [ ]:
"e" in obj2

In [ ]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utab": 5000}
obj3 = pd.Series(sdata)  # dictionary to Series
obj3

In [ ]:
obj3.to_dict()  # Series to dictionary

In [ ]:
states = ("California", "Ohio", "Oregon", "Texas")
obj4 = pd.Series(sdata, index=states)
obj4

In [ ]:
pd.isna(obj4)  # Detect missing data

In [ ]:
pd.notna(obj4)

In [ ]:
obj4.isna()

Series automatically **aligns by index**
Key: 'obj3+obj4' gives NaN for Utah
Reason: Utah is only in obj3, obj4 has no value(NaN)

In [ ]:
obj3

In [ ]:
obj4

In [ ]:
obj3 + obj4

In [ ]:
obj4.name = "population"
obj4.index.name = "state"
obj4

Series's index can be altered in place by assignment

In [ ]:
obj

In [ ]:
obj.index = ["Bob", "Steven", "Jeff", "Ryan"]

In [ ]:
obj

# DataFrame

In [ ]:
data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        "year": [2000, 2001, 2002, 2001, 2002, 2003],
        "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [ ]:
frame

In [ ]:
frame.head()  # The first five rows

In [ ]:
frame.tail()  # The last five rows

In [ ]:
pd.DataFrame(data, columns=["year", "state", "pop"])

In [ ]:
frame2 = pd.DataFrame(data, columns=["year", "state", "pop", "debt"])  # If column is not in frame,then it will be NaN
frame2

In [ ]:
frame2.columns

In [ ]:
frame2["state"]

In [ ]:
frame2.year

Note:`frame2[column]`works for any column name,but `frame2.column`works only when the column name is valid variable name (default fetch column)

In [ ]:
frame2.loc[2]

In [ ]:
frame2.iloc[1]

In [ ]:
frame2["debt"] = 16.5
frame2

In [ ]:
frame2["debt"] = np.arange(6.)
frame2

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=[2, 4, 5])
frame2["debt"] = val
frame2

In [ ]:
frame2["eastern"] = frame2["state"] == "Ohio"
frame2

In [ ]:
del frame2["eastern"]
frame2.columns

Nested dictionary

In [ ]:
populations = {"Ohio": {2000: 1.5, 2001: 1.7, 2002: 3.6},
               "Nevada": {2001: 2.4, 2002: 2.9}}
frame3 = pd.DataFrame(populations)
frame3

In [ ]:
frame3.T

If you transpose twice, it changes the data type

In [ ]:
populations

In [ ]:
pd.DataFrame(populations, index=[2001, 2002, 2003])  # Use index in the inner dictionary

In [ ]:
frame3

Slicing: [start:stop:step]

In [ ]:
pdata = {"Ohio": frame3["Ohio"][:-1], "Nevada": frame3["Nevada"][:2]}
pd.DataFrame(pdata)

**DataFrame input**

In [ ]:
# 1.2D ndarray
data = np.array([[1, 2], [3, 4]])
df1 = pd.DataFrame(data, index=["X", "Y"], columns=["A", "B"])
df1

In [ ]:
# 2.Dictionary of arrays,lists or tuples
data = {"A": [1, 2, 3], "B": [4, 5, 6]}
df3 = pd.DataFrame(data)
df3

In [ ]:
# 3. NumPy structured/record array
data = np.array([(1, 'a'), (2, 'b')], dtype=[('num', 'i4'), ('letter', 'U1')])
df4 = pd.DataFrame(data)
df4

In [ ]:
# 4.Dictionary of Series
s1 = pd.Series([1, 2], index=['a', 'b'])
s2 = pd.Series([3, 4], index=['b', 'c'])
df5 = pd.DataFrame({'A': s1, 'B': s2})
df5

In [ ]:
# 5.Dictionary of dictionaries
data = {'Ohio': {2001: 1.7, 2002: 3.6}, 'Nevada': {2001: 2.4}}
pd6 = pd.DataFrame(data)
pd6

In [ ]:
# 6.List of dictionaries or Series
data = [{'A': 1, 'B': 2}, {'A': 3, 'B': 4}]
df7 = pd.DataFrame(data)
df7

In [ ]:
# 7.List of  lists or tuples
data = [[1, 2], [3, 4]]
df8 = pd.DataFrame(data, columns=['A', 'B'])
df8

In [ ]:
# 8.Another DataFrame
df9_1 = pd.DataFrame({'A': [1, 2]})
df9_2 = pd.DataFrame(df9_1)
df9_2

In [ ]:
# 9.NumPy MaskedArray  
# Mask part into NaN
import numpy.ma as ma

data = ma.array([[1, 2], [3, 4]], mask=[[0, 1], [0, 0]])
df10 = pd.DataFrame(data)
df10

DataFrame's index and columns

In [ ]:
frame3

In [ ]:
frame3.index.name = "year"
frame3.columns.name = "state"
frame3

In [ ]:
frame3.to_numpy()

In [ ]:
frame2

In [ ]:
frame2.to_numpy()  # Returns a data type compatible with all columns

# Index Objects

In [ ]:
obj = pd.Series(np.arange(3), index=["a", "b", "c"])
index = obj.index
index

In [ ]:
index[1:]

In [ ]:
index[1] = "d"  # Index objects are immutable and thus can't be modified by the user

In [ ]:
frame3

In [ ]:
frame3.columns

In [ ]:
"Ohio" in frame3.columns

In [ ]:
2003 in frame3.index

A pandas index can contain duplicate labels

In [ ]:
pd.Index(["foo", "foo", "bar", "bar"])

Selections with duplicate labels will select all occurrences of that label

Index Methods and Properties
**append()**: Add another Index (e.g., [1, 2] + [3, 4] = [1, 2, 3, 4]).
**difference()**: What’s in this but not that (e.g., [1, 2] - [2, 3] = [1]).
**intersection()**: Common parts (e.g., [1, 2] & [2, 3] = [2]).
**union()**: Combine all (e.g., [1, 2] | [2, 3] = [1, 2, 3]).
**isin()**: Check if in list (e.g., [1, 2].isin([2]) = [False, True]).
**drop()**: Remove value (e.g., drop 2 from [1, 2, 3] = [1, 3]).

# Essential functionality

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=["d", "b", "a", "c"])
obj

In [ ]:
obj2 = obj.reindex(["a", "b", "c", "d", "e"])
obj2

In [ ]:
obj3 = pd.Series(["blue", "purple", "yellow"], index=[0, 2, 4])
obj3

In [ ]:
obj3.reindex(np.arange(6), method='ffill')  # ffill:forward-fills the value

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)), index=["a", "c", "d"], columns=["Ohio", "Texas", "California"])
frame

In [ ]:
frame2 = frame.reindex(index=["a", "b", "c", "d"])
frame2

In [ ]:
states = ["Texas", "Utah", "California"]
frame.reindex(columns=states)

In [ ]:
frame.reindex(states, axis="columns")

**labels/index**: New row labels (e.g., ['a', 'c']).
**columns**: New column labels (e.g., ['A', 'B']).
**method**: Fill missing (ffill=forward, bfill=backward).
**fill_value**: What to fill (e.g., 0 instead of NaN).

In [ ]:
frame

In [ ]:
frame.loc[["a", "d", "c"], ["California", "Texas"]]

# Dropping Entries from an Axis

In [ ]:
obj = pd.Series(np.arange(5.), index=["a", "b", "c", "d", "e"])
obj

In [ ]:
new_obj = obj.drop("c")
new_obj

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=["Ohio", "Colorado", "Utah", "New York"],
                    columns=["one", "two", "three", "four"])

In [ ]:
data.drop(index=["Colorado", "Ohio"])

In [ ]:
data.drop(columns=["two"])

axis=1 equal axis="columns"

In [ ]:
data.drop("two", axis=1)

In [ ]:
data.drop(["two", "four"], axis="columns")

# Indexing,Selection,and Filtering

In [ ]:
obj.loc[["b", "a", "d"]]

[]（方括号索引）
行为：如果索引是整数，优先按标签取；如果索引是默认整数，则按位置取。

.loc
行为：永远按标签取，跟位置无关。

.iloc
行为：永远按位置取，跟标签无关。

In [ ]:
obj1 = pd.Series([1, 2, 3], index=[2, 0, 1])
obj2 = pd.Series([1, 2, 3], index=["a", "b", "c"])

In [ ]:
obj1

In [ ]:
obj2

In [ ]:
obj1[[0, 1, 2]]

In [ ]:
obj2[[0, 1, 2]]

In [ ]:
obj2.loc[[0, 1]]

In [ ]:
obj1.iloc[[0, 1, 2]]

In [ ]:
obj2.iloc[[0, 1, 2]]

**Note**:You can also slice with labels, but it works differently from normal Python slicing in that the endpoint is **inclusive**

In [ ]:
obj2.loc["b":"c"]

In [ ]:
obj2.loc["b":"c"] = 5
obj2

用data[column_name]（传入列名）时，Pandas会返回对应的列。
用data[start:stop]（切片语法）时，Pandas会按行（row）切片，返回指定范围的行。

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=["Ohio", "Colorado", "Utah", "New York"],
                    columns=["one", "two", "three", "four"])
data

In [ ]:
data["two"]

In [ ]:
data[["three", "one"]]

In [ ]:
data[:2]

In [ ]:
data[data["three"] > 5]

In [ ]:
data < 5

In [ ]:
data[data < 5] = 0
data

In [ ]:
data

In [ ]:
data.loc["Colorado"]

In [ ]:
data.loc[["Colorado", "New York"]]

In [ ]:
data.loc["Colorado", ["two", "three"]]

In [ ]:
data

In [ ]:
data.iloc[2]

In [ ]:
data.iloc[[2, 1]]

In [ ]:
data.iloc[2, [3, 0, 1]]

In [ ]:
data.iloc[[1, 2], [3, 0, 1]]

In [ ]:
data.loc[:"Utah", "two"]

In [ ]:
data.iloc[:, :3][data.three > 5]

In [ ]:
data.loc[data.three >= 2]

In [ ]:
data

In [ ]:
data.loc["one", :] = 1

In [ ]:
data

In [ ]:
data = data.iloc[:-1]

In [ ]:
data

**Note**: data.loc[data.three == 5]["three"]=6 get the copy of data.loc[data.three == 5] first, so it is not data.loc[data.three == 5, "three"]=6

# Arithmetic and Data Alignment

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=["a", "c", "d", "e"])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=["a", "c", "e", "f", "g"])

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1 + s2

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list("bcd"), index=["Ohio", "Texas", "Colorado"])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list("bde"), index=["Utah", "Ohio", "Texas", "Oregon"])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 + df2

# Arithmetic methods with fill values

In [ ]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)), columns=list("abcd"))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)), columns=list("abcde"))
df2.loc[1, "b"] = np.nan

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 + df2

In [ ]:
df1.add(df2, fill_value=0)

In [ ]:
1 / df1

In [ ]:
df1.rdiv(1)

In [ ]:
df1.reindex(columns=df2.columns, fill_value=0)

In [ ]:
arr = np.arange(12.).reshape((3, 4))
arr

In [ ]:
arr[0]

In [ ]:
arr - arr[0]

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape(4, 3), columns=list("bde"), index=["Utah", "Ohio", "Texas", "Oregon"])
series = frame.iloc[0]

In [ ]:
frame

In [ ]:
series

In [ ]:
frame - series

In [ ]:
series2 = pd.Series(np.arange(3), index=["b", "e", "f"])
series2

In [ ]:
frame + series2

当DataFrame和Series相加时，Pandas默认将Series的索引与DataFrame的列名（columns）对齐，而不是行索引（index）

In [ ]:
series3 = frame["d"]
frame

In [ ]:
series3

In [ ]:
frame.sub(series3, axis="index")

# Function Application and Mapping

In [ ]:
frame = pd.DataFrame(np.random.standard_normal((4, 3)), columns=list("bde"), index=["Utah", "Ohio", "Texas", "Oregon"])
frame

In [ ]:
np.abs(frame)

In [ ]:
def f1(x):
    return x.max() - x.min()

In [ ]:
frame.apply(f1)  # apply on every column

In [ ]:
frame.apply(f1, axis="columns")

In [ ]:
def f2(x):
    return pd.Series([x.min(), x.max()], index=["min", "max"])

In [ ]:
frame.apply(f2)

In [ ]:
def my_format(x):
    return f"{x:.2f}"

In [ ]:
frame

In [ ]:
frame.applymap(my_format)

In [ ]:
frame["e"].map(my_format)

# Sortng and Ranking

In [ ]:
obj = pd.Series(np.arange(4), index=["d", "a", "b", "c"])
obj

In [ ]:
obj.sort_index()

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=["three", "one"],
                     columns=["d", "a", "b", "c"])

In [ ]:
frame

In [ ]:
frame.sort_index()

In [ ]:
frame.sort_index(axis="columns")

In [ ]:
frame.sort_index(axis="columns", ascending=False)

In [ ]:
obj = pd.Series([4, 7, -3, 2])
obj.sort_values()

In [ ]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj.sort_values()

In [ ]:
obj.sort_values(na_position="first")

In [ ]:
frame = pd.DataFrame({"b": [4, 7, -3, 2], "a": [0, 1, 0, 1]})
frame

In [ ]:
frame.sort_values("b")

In [ ]:
frame.sort_values(["a", "b"])

rank是通过“为各组分配平均排名”的方式破坏平级关系的,
eg:7出现两次，次序分别为6和7，取平均值就是6.5

In [ ]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()

也可以根据值在原数据中出现的顺序给出排名

In [ ]:
obj.rank(method="first")

In [ ]:
obj.rank(ascending=False)

# Axis Indexes with Duplicate Labels

In [ ]:
obj = pd.Series(np.arange(5), index=["a", "a", "b", "b", "c"])
obj

In [ ]:
obj.index.is_unique

In [ ]:
obj["a"]

# Summarizing and Computing Descriptive Statistics

In [ ]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=["a", "b", "c", "d"],
                  columns=["one", "two"])
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis="columns")

In [ ]:
df.sum(axis="index",skipna=False)

In [ ]:
df.sum(axis="columns",skipna=False)

In [ ]:
df.mean(axis="columns")

In [ ]:
df.idxmax()

In [ ]:
df.cumsum()

In [ ]:
df.describe()

In [ ]:
obj = pd.Series(["a","a","b","c"]*4)
obj.describe()

# Unique Values,Value Counts,and Membership

In [ ]:
obj = pd.Series(["c","a","d","a","a","b","b","c","c"])

In [ ]:
uniques = obj.unique()
uniques

In [ ]:
uniques.sort()

In [ ]:
uniques

In [ ]:
obj.value_counts()

In [ ]:
pd.value_counts(obj.to_numpy(),sort=False)

In [ ]:
obj

In [ ]:
mask=obj.isin(["b","c"])

In [ ]:
obj[mask]

In [ ]:
to_match = pd.Series(["c","a","b","b","c","a"])
unique_vals = pd.Series(["c","b","a"])
indices = pd.Index(unique_vals).get_indexer(to_match)
indices # 可用于预处理中编码转化成数字

In [ ]:
data = pd.DataFrame({"Qu1":[1,3,4,3,4],
                     "Qu2":[2,3,1,2,3],
                     "Qu3":[1,5,2,4,4]})
data

In [ ]:
data["Qu1"].value_counts().sort_index()

In [ ]:
data = pd.DataFrame({"a":[1,1,1,2,2],"b":[0,0,1,0,0]})
data

In [ ]:
data.value_counts()

Just finished learning the basics of Pandas. Compared to before, I’ve got a much clearer grasp of Series and DataFrame, and I’m more comfortable with the syntax and some of the tricky bits. Still, I’m a long way from using it like a pro. No rush though—keep going, you’ve got this!